:root {
    --green: #adff2f;
}

* {
    box-sizing: border-box;
}

header, footer {
    margin: 15%;
}

#highscores {
    text-decoration: none;
    color: blueviolet;
    font-size: 1.3rem;
    position: absolute;
    top: 5%;
    left: 5%;
}

.start-page {
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 2.5%;
    font-weight: bolder;
}

p, label {
    font-size: 1.3rem;
}

#timer {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.8rem;
    font-weight: bolder;
}

.questions, .end-page {
    text-align: center;
    display: none;
}

.correct, .wrong, div form p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 1%;
}

.option-1,
.option-2,
.option-3,
.option-4 {
    background-color: var(--green);
    font-size: 1.3rem;
    margin: 5px;
    left: -20%;
}


.start-button {
    background-color: var(--green);
    margin-top: 2.5%;
    font-size: 1.3rem;
}

input {
    font-size: 1.1rem;
}

#name-button {
    background-color: var(--green);
    margin-top: 1%;
}
