:root {
    --green: #adff2f;
    --gray: gray;
}

* {
    box-sizing: border-box;
}

header, footer {
    margin: 15%;
}

button {
    border-radius: 8px;
}

#highscores {
    text-decoration: none;
    color: blueviolet !important;
    font-size: 1.3rem;
    position: absolute;
    top: 5%;
    left: 5%;
}

.start-page, .highscores-table {
    text-align: center;
}

.start-page p {
    color: var(--gray);
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 2.5%;
    font-weight: bolder;
}

p, label {
    font-size: 1.3rem;
}

#timer {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.8rem;
    font-weight: bolder;
}

.questions, .end-page, .lose-page {
    text-align: center;
    display: none;
}

.correct, .wrong, div form p {
    font-size: 1.3rem;
    color: var(--gray);
    margin-top: 1%;
}

.option-1,
.option-2,
.option-3,
.option-4,
.lose-button {
    background-color: var(--green);
    font-size: 1.3rem;
    margin: 5px;
    left: -20%;
}


.start-button {
    background-color: var(--green);
    margin-top: 2.5%;
    font-size: 1.3rem;
}

input {
    font-size: 1.1rem;
}

#name-button {
    background-color: var(--green);
    margin-top: 1%;
}

.highscores-table h2 {
    margin-bottom: 0;
}

.highscores-table p {
    color: var(--gray);
}

.highscores-table ol {
    display: inline-block;
    text-align: left;
    background-color: #cbb1e3;
    width: 40%;
    font-size: 1.5rem;
}

.highscores-table button{
    
    font-size: 1.3rem;
    margin: 0 60px;
    background-color: #cbb1e3;
}